<a href="https://colab.research.google.com/github/Velanjali/FML/blob/main/Multivariate_Linear_regression_Companydata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

Imported the essential libraries into the notebook

In [17]:
data=pd.read_csv("Company_data.csv")
-data.head()

      TV  Radio  Newspaper  Sales
0 -230.1  -37.8      -69.2  -22.1
1  -44.5  -39.3      -45.1  -10.4
2  -17.2  -45.9      -69.3  -12.0
3 -151.5  -41.3      -58.5  -16.5
4 -180.8  -10.8      -58.4  -17.9

In [18]:
X=data.drop("Sales",axis=1).values
y=data["Sales"].values

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X , y , test_size=0.25 , random_state=42)

In [20]:
X_train.shape ,X_test.shape

((150, 3), (50, 3))

In [21]:
reg = linear_model.LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [22]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
y_pred1 = reg.predict(X_train)
print(f'Performance of the model training set:')
print(f'MAE = {mean_absolute_error(y_train,y_pred1)}')
print(f'MSE = {mean_squared_error(y_train,y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train,y_pred1))}')
print(f'R2 = {r2_score(y_train,y_pred1)}')

Performance of the model training set:
MAE = 1.2867986998947178
MSE = 2.835248214412683
RMSE = 1.6838195314262996
R2 = 0.895775985137604

In [23]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
y_pred2 = reg.predict(X_test)
print(f'Performance of the model testing set:')
print(f'MAE = {mean_absolute_error(y_test,y_pred2)}')
print(f'MSE = {mean_squared_error(y_test,y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test,y_pred2))}')
print(f'R2 = {r2_score(y_test,y_pred2)}')

Performance of the model testing set:
MAE = 1.1199940713361771
MSE = 2.4040674447118877
RMSE = 1.5505055448826643
R2 = 0.9115647723992757